SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/nombre_bd_local
SPRING_DATASOURCE_USERNAME=tu_usuario_aqui
SPRING_DATASOURCE_PASSWORD=tu_password_aqui
TOKEN_JWT_SECRET=ingresa_un_secreto_largo_y_seguro
ADMIN_PASSWORD=tu_contraseña_real_de_admin
FRONTEND_URL=AQUI_TU_URL_DEL_FRONTEND