SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/logistica_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=1234
TOKEN_JWT_SECRET=MiClaveSuperSecretaDeMasDe32CaracteresParaJWT2026
ADMIN_PASSWORD=TU_PASSWORD_ADMIN
FRONTEND_URL=http://localhost:4200